<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799696447306-3gf38rrf75127v4bk2b2oo9kjiqtbick.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799696447306-3gf38rrf75127v4bk2b2oo9kjiqtbick</string>
	<key>API_KEY</key>
	<string>AIzaSyDEYrpWF4vEqcfI94flBEi2ipPUyGmCwJY</string>
	<key>GCM_SENDER_ID</key>
	<string>799696447306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CoffeeOverflow</string>
	<key>PROJECT_ID</key>
	<string>coffeeoverflow-4192c</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeoverflow-4192c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799696447306:ios:917826fda06e2b8cec83b3</string>
</dict>
</plist>